ACTION=="remove", GOTO="devices_end"

KERNEL=="fb[0-9]", MODE="0660", GROUP="video", SMACK="_"
KERNEL=="s3c-mem", MODE="0660", GROUP="video", SMACK="_"
KERNEL=="umts_csd", MODE="0660", GROUP="video_tel", SMACK="*"
KERNEL=="s3c-jpeg", MODE="0660", GROUP="camera", SMACK="_"
KERNEL=="s5p-jpeg", MODE="0660", GROUP="camera", SMACK="_"
KERNEL=="s3c-jpg", MODE="0660", GROUP="camera", SMACK="_"
KERNEL=="srp", MODE="0660", GROUP="hwcodec", SMACK="*"
KERNEL=="s3c-mfc", MODE="0660", GROUP="hwcodec", SMACK="_"
KERNEL=="s5p-mfc", MODE="0660", GROUP="hwcodec", SMACK="*"
KERNEL=="radio[0-9]", MODE="0660", GROUP="radio", SMACK="_"
KERNEL=="pcmC[0-9]D[0-9]c", MODE="0660", GROUP="recording", SMACK="_"
KERNEL=="pcmC[0-9]D[0-9]p", MODE="0660", GROUP="audio", SMACK="_"
KERNEL=="controlC[0-9]", MODE="0660", GROUP="audio", SMACK="_"
KERNEL=="timer", SUBSYSTEM=="sound", MODE="0660", GROUP="audio", SMACK="_"

KERNEL=="log_main", MODE="0660", GROUP="app_logging", SMACK="_"
KERNEL=="log_events", MODE="0660", GROUP="app_logging", SMACK="_"
KERNEL=="log_radio", MODE="0660", GROUP="app_logging", SMACK="_"
KERNEL=="log_system", MODE="0660", GROUP="sys_logging", SMACK="_"

KERNEL=="pvrsrvkm", MODE="0666", SMACK="*"
KERNEL=="usb_mtp_gadget", MODE="0666", SMACK="*"
KERNEL=="usb_accessory", MODE="0666", SMACK="*"

# Marvell
KERNEL=="uio[0-9]", MODE="0666", SMACK="*"

# Brightness control
SUBSYSTEM=="leds", ATTR{brightness}=="?*", RUN+="/bin/chmod 0664 %S/%p/brightness", RUN+="/bin/chown :system_torch %S/%p/brightness"
SUBSYSTEM=="backlight", ATTR{brightness}=="?*", RUN+="/bin/chmod 0664 %S/%p/brightness", RUN+="/bin/chown :system_bklight %S/%p/brightness"

# flash (7/16 added)
SUBSYSTEM=="camera", RUN+="/bin/chmod 0666 %S/%p/rear_flash"
SUBSYSTEM=="camera", RUN+="/bin/chmod 0666 %S/%p/max_brightness"

# mDNIe
DRIVER=="mdnie", RUN+="/bin/chmod 0666 %S/%p/mode"
DRIVER=="mdnie", RUN+="/bin/chmod 0666 %S/%p/scenario"
DRIVER=="mdnie", RUN+="/bin/chmod 0666 %S/%p/tone"
DRIVER=="mdnie", RUN+="/bin/chmod 0666 %S/%p/outdoor"
DRIVER=="mdnie", RUN+="/bin/chmod 0666 %S/%p/tune"

# haptic
SUBSYSTEM=="haptic", RUN+="/bin/chmod 0666 %S/%p/level"
SUBSYSTEM=="haptic", RUN+="/bin/chmod 0666 %S/%p/enable"
SUBSYSTEM=="haptic", RUN+="/bin/chmod 0666 %S/%p/oneshot"

# Video4Linux
SUBSYSTEM!="video4linux", GOTO="v4l_end"
IMPORT{program}="uname_env kernel-release"

KERNEL=="video0", ENV{UNAME_KERNEL_RELEASE}=="3.0.*", GROUP="camera", MODE="0660", SMACK="_"
KERNEL=="video1", ENV{UNAME_KERNEL_RELEASE}=="3.4.*", GROUP="camera", MODE="0660", SMACK="_"
KERNEL=="video3", ENV{UNAME_KERNEL_RELEASE}=="3.4.*", GROUP="camera", MODE="0660", SMACK="_"

# Remaining video devices
KERNEL=="video[0-9]", MODE="0660", GROUP="video", SMACK="_"
LABEL="v4l_end"

KERNEL=="video1", GROUP="camera", MODE="0660", SMACK="_"
KERNEL=="video[6-7]", GROUP="hwcodec", MODE="0660", SMACK="_"
KERNEL=="video11", GROUP="hwcodec", MODE="0660", SMACK="_"
KERNEL=="video12", GROUP="hwcodec", MODE="0660", SMACK="_"

LABEL="devices_end"
