ACTION=="remove", GOTO="permissions_slp_end"

KERNEL=="s3c-jpeg",		MODE="0660", GROUP="camera"
KERNEL=="s5p-jpeg",		MODE="0660", GROUP="camera"
KERNEL=="radio[0-9]",		MODE="0660", GROUP="radio"
KERNEL=="s5p-mfc",		MODE="0660", GROUP="hwcodec"
KERNEL=="s3c-mfc",		MODE="0660", GROUP="hwcodec"
KERNEL=="srp",			MODE="0660", GROUP="hwcodec"
KERNEL=="log_main",		MODE="0660", GROUP="app_logging"
KERNEL=="log_events",		MODE="0660", GROUP="app_logging"
KERNEL=="log_radio",		MODE="0660", GROUP="app_logging"
KERNEL=="log_system",		MODE="0660", GROUP="sys_logging"
KERNEL=="controlC0D[0-9]c",	MODE="0660", GROUP="recording"
KERNEL=="pcmC0D[0-9]c",		MODE="0660", GROUP="recording"
KERNEL=="controlC0",		MODE="0660", GROUP="audio"
KERNEL=="pcmC0D[0-9]p",		MODE="0660", GROUP="audio"
KERNEL=="fb[0-9]",		MODE="0660", GROUP="video"
KERNEL=="s3c-mem",		MODE="0660", GROUP="video"
KERNEL=="umts_csd",		MODE="0660", GROUP="video_tel"

KERNEL=="pvrsrvkm",		MODE="0666"
KERNEL=="ump",			MODE="0666"
KERNEL=="mali",			MODE="0666"
KERNEL=="slp_global_lock",	MODE="0666"
KERNEL=="usb_mtp_gadget",	MODE="0666"
KERNEL=="usb_accessory",	MODE="0666"
SUBSYSTEM=="drm",		MODE="0666"

# Marvell
KERNEL=="uio[0-9]",		MODE="0666"

# Brightness control
SUBSYSTEM=="leds",      ATTR{brightness}=="?*", RUN+="/bin/chmod 0664 %S/%p/brightness", RUN+="/bin/chown :system_torch %S/%p/brightness"
SUBSYSTEM=="backlight", ATTR{brightness}=="?*", RUN+="/bin/chmod 0664 %S/%p/brightness", RUN+="/bin/chown :system_bklight %S/%p/brightness"

# flash (7/16 added)
SUBSYSTEM=="camera",    RUN+="/bin/chmod 0666 %S/%p/rear_flash"
SUBSYSTEM=="camera",    RUN+="/bin/chmod 0666 %S/%p/max_brightness"

# mDNIe
DRIVER=="mdnie",	RUN+="/bin/chmod 0666 %S/%p/mode"
DRIVER=="mdnie",	RUN+="/bin/chmod 0666 %S/%p/scenario"
DRIVER=="mdnie",	RUN+="/bin/chmod 0666 %S/%p/tone"
DRIVER=="mdnie",	RUN+="/bin/chmod 0666 %S/%p/outdoor"
DRIVER=="mdnie",	RUN+="/bin/chmod 0666 %S/%p/tune"

# haptic
SUBSYSTEM=="haptic",	RUN+="/bin/chmod 0666 %S/%p/level"
SUBSYSTEM=="haptic",	RUN+="/bin/chmod 0666 %S/%p/enable"
SUBSYSTEM=="haptic",	RUN+="/bin/chmod 0666 %S/%p/oneshot"

# Video4Linux
SUBSYSTEM!="video4linux", GOTO="v4l_slp_end"
IMPORT{program}="uname_env kernel-release"

KERNEL=="video0", ENV{UNAME_KERNEL_RELEASE}=="3.0.*", GROUP="camera", MODE="0660", GOTO="v4l_slp_end"
KERNEL=="video1", ENV{UNAME_KERNEL_RELEASE}=="3.4.*", GROUP="camera", MODE="0660", GOTO="v4l_slp_end"
KERNEL=="video3", ENV{UNAME_KERNEL_RELEASE}=="3.4.*", GROUP="camera", MODE="0660", GOTO="v4l_slp_end"

# Remaining video devices
KERNEL=="video[0-9]", MODE="0660", GROUP="video"
LABEL="v4l_slp_end"

LABEL="permissions_slp_end"
